.banner {
    width: 100%;
    filter: blur(5px);
}

.titulo_site { 
    display: flex;
    background-color: #A8D1D1;
    align-items: center;
    border-bottom: 1px dashed #eef1f3
}

.titulo_site li {
    display: inline-block;
    margin-right: 2.5em;
}

.ul_nav {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

nav a {
    color: #F1F7B5;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    color: #F78319;
    text-decoration: underline;
}

.sub_titulo {
    text-align: center;
    font-size: 40px;
    background-color: #93c5c5;
    
}

.sub_titulo_container {
    width: 100%;
    margin: 0 auto;
}

main {
    text-align: center;
    background-color: #EAFDFC;
}

main h1 {
    font-size: 25px;
    background-color: aqua;
    text-align: center;
}

.capa {
    width: 15em;
    height: 23em;  
    transition: all 0.4s ease-in-out; 
}

.capa:hover {
    transform: scale(1.2);
}

.titulo_livro {
    text-align: center;
    font-weight: bold;
    background-color: #AEE2FF;
    color: #FD8A8A;
    font-size: 1.5em;
    padding: 0.2em;
}

.sinopse {
    background-color: #EAFDFC;
}


.livro_impar {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #0081C9;
    color: #FFC93C;
    font-size: 1em;
    text-align: center;
    clear: both;
}