.titulo_site { 
    position: absolute;
    top: 5em;
    left: 2em;
    font-size: 1em;
    color: #FFEA20;
}
.titulo_site li{
    margin-top: 2em;
}

.banner {
    width: 100%;
    /*filter: blur(5px);*/
}

.sub_titulo {
    text-align: center;
    font-size: 40px;
    background-color: #84D2C5;
    border: none;
}

main {
    text-align: center;
}

main h1 {
    font-size: 25px;
    background-color: aqua;
    text-align: center;
}

.capa {
    width: 15em;
    height: 23em;   
}

.capa:hover {
    transform: scale(1.2);
}

footer {
    background-color: #0081C9;
    color: #FFC93C;
    font-size: 1em;
    text-align: center;
}